.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
secrets.py
my_sales_dashboard.json
abandoned_carts.json
best_selling.json
customers.json
excellent_sales_reps.json
income.json
order_status.json
order_status_summary.json
orders.json
top_cities.json
top_states.json
abandon_carts.json
card_one.json
pending.json
processing.json
quotes.json
tickets.json